@page "/"
@inherits RecipeListBase

<h3>Recipe List</h3>

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show options</label>
@if (Recipes == null)
{
  <div class="spinner-border"></div>
}
else
{
  <div class="card-deck">
    @foreach (var recipe in Recipes)
    {
      <DisplayRecipe Recipe="recipe" ShowFooter="ShowFooter"></DisplayRecipe>
    }
  </div>
}


